@import "tailwindcss";

@theme {
  --color-primary: #E75480;
  --color-primary-hover: #D9436E;

  --color-background: #ffffff;

  --color-text-primary: #5A2A38;
  --color-text-secondary: #9F6F7A;

  --color-secondary: #F4C2D7;
  --color-secondary-hover: #EFAEC8;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

.btn{
  @apply  hover:scale-105 transition-all duration-300 ease-in-out active:scale-55 active:bg-background active:text-primary;
}

